/* Question callout */
.callout[data-callout="question"] {
  --callout-color: 255, 102, 102; /* red */
  --callout-icon: badge-question-mark;
  border: 1px solid rgba(var(--callout-color), 0.5);
}

/* Short Summary / Abstract callout */
.callout[data-callout="related"] {
  --callout-color: 0, 153, 153; /* aqua blue */
  --callout-icon: notepad-text;
    border: 1px solid rgba(var(--callout-color), 0.5);
}

/* Metadata callout */
.callout[data-callout="metadata"] {
  --callout-color: 135, 214, 127; /* green */
  --callout-icon: notebook-tabs;
    border: 1px solid rgba(var(--callout-color), 0.5);
}

/* Keywords callout */
.callout[data-callout="keywords"] {
  --callout-color: 102, 102, 255; /* blue */
  --callout-icon: tag;
    border: 1px solid rgba(var(--callout-color), 0.5);
}

/* Annotation Key callout */
.callout[data-callout="annotkey"] {
  --callout-color: 204, 204, 255; /* light grey */
  --callout-icon: list;
    border: 1px solid rgba(var(--callout-color), 0.5);
}

/* Quote callout */
.callout[data-callout="quote"] {
  --callout-color: 255, 204, 255; /* light grey */
  --callout-icon: quote;
    border: 1px solid rgba(var(--callout-color), 0.5);
}

/* Cite callout */
.callout[data-callout="cite"] {
  --callout-color: 255, 255, 153; /* yellow */
  --callout-icon: quote;
    border: 1px solid rgba(var(--callout-color), 0.5);
}

/* Resources callout */
.callout[data-callout="resources"] {
  --callout-color: 204, 255, 255; /* lightblue grey */
  --callout-icon: mouse-pointer-click;
}