/* Centrage et redimensionnement des images dans les callouts */
.markdown-rendered img, 
.cm-content img, 
.markdown-preview-view img, 
.cm-s-obsidian img, 
.HyperMD-image, /* Ajout pour le mode édition */
.HyperMD-image > img { /* Ajout pour les images en mode édition */
  display: block !important; /* Bloquer l'affichage pour éviter tout alignement par défaut */
  margin: 1em auto !important; /* Centrage horizontal */
  border: 1px solid black !important; /* Bordure autour de l'image */
  background-color: transparent !important; /* Arrière-plan transparent */

  height: auto !important; /* Maintenir le ratio d'aspect original */
  text-align: center !important; /* Assurer que le texte autour soit centré */
}

/* Redimensionnement des images en fonction de la valeur après | dans le lien */
.markdown-rendered img[src*="|"],
.HyperMD-image img[src*="|"] { /* Ajout pour le mode édition */
  width: attr(src, regex('.*\\|([0-9]+).*', 1))px !important;
}