/* Supprime la marge en bas des paragraphes */
.markdown-rendered p,
.cm-s-obsidian p {
  margin-bottom: 0px !important;
}

/* Ajoute un espace au-dessus des listes */
ul.has-list-bullet,
.cm-s-obsidian ul {
  margin-top: 0.5em !important; /* Espace entre le texte et le début de la liste */
}

/* Augmenter l'écart entre les éléments de la liste dans Reading Mode et Editing Mode */
.markdown-preview-view ul,
.cm-s-obsidian ul {
  margin-bottom: 0.5em !important; /* Espace supplémentaire après chaque liste */
}

.markdown-preview-view li,
.cm-s-obsidian li {
  margin-bottom: 0.5em !important; /* Espace entre les éléments de la liste */
  line-height: 1.5 !important; /* Amélioration de la lisibilité */
}
